img{
    width: 250px;
    height: 200px;
}
body{
    background-color: #fafaf9;
}

#fr{
    width: 550px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    text-align: center;
    margin: 0 auto;
    
}
#fr2{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#french{
    display: block;
    margin: auto;   
    height: 250px;
    line-height: 100px;
    white-space: nowrap;
    font-size: 50px;
    

}
#russian{   
    display: none;
    margin: auto;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    font-size: 50px;
    
}
.add{
    text-align: center;
    margin: auto;
}

button{
    text-align: center;
    height: 60px;
    width: 80px;
}

.form{
    text-align: center;
    margin-bottom: 50px;
}

.btn, input {
    background-color: rgb(235, 177, 220);
    font-size: 20px;
}

.menu_principal ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
}

.menu_principal ul li{
    font-size: 50px;
    margin-right: 50px;
    list-style: none;
}

.filtre{
    text-align: center;
}
.btn{
    width: 200px;
}

.centre{
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    box-shadow:black;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
      border-radius: 3px;

    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #fae9ec;
    color: black;
    transform: rotateY(180deg);
  }
  #result{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .thick{
      font-size: 30px;
  }

  .page-link{
      width: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .middle{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  #them_form{
      text-align: left;
  }